<?xml version="1.0" encoding="utf-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <display-name>pseudoSMTP</display-name>
    <description>
    	REST API of the psuedoSMTP app
    </description>

	<listener>
		<listener-class>com.github.pseudosmtp.j2ee.listeners.SmtpManager</listener-class>
	</listener>
	
	<filter>
		<filter-name>RestValidator</filter-name>
		<filter-class>com.github.pseudosmtp.j2ee.filters.RestRequestValidator</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestValidator</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.github.pseudosmtp.resources</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Groovy</servlet-name>
		<servlet-class>groovy.servlet.GroovyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groovy</servlet-name>
		<url-pattern>*.groovy</url-pattern>
	</servlet-mapping>
</web-app> 